body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat-Bold";
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  /* font-family: "Montserrat-Bold"; */
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 5% 7%;
}

.headingone {
  color: white;
  font-size: 4.5rem;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5rem;
}

.brand-logo {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.downloadbutton {
  margin: 5% 3% 5% 0;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  padding: 1rem;
}

#features {
  text-align: center;
  padding: 50px 0 50px 0;
  background-color: white;
  position: relative;
}

.feature-icon {
  color: #ef1872;
  font-size: 5rem;
  margin: 1.5rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-card {
  text-align: center;
  padding: 1rem;
}

#title {
  background-color: #ff4c68;
}

.phonedog {
  transform: rotate(15deg);
  position: absolute;
  right: 30%;
}

.phonedog:hover {
  transform: rotate(25deg);
}

@media (max-width: 1028px) {
  .phonedog {
    position: static;
    transform: rotate(0);
  }
  .phonedog:hover {
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

#testimonials {
  background-color: #ff4c68;
  color: white;
  text-align: center;
}

#press {
  padding-bottom: 3%;
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-colum {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding-top: 5%;
}

.action-test {
  font-weight: 900;
  font-family: "Montserrat-Black";
  color: white;
}

#footer {
  background-color: white;
  text-align: center;
  margin: 3% 0 1%;
}

.social-icons {
  font-size: 2rem;
  margin: 1.5rem;
}

.pq {
  margin-bottom: 1.5rem;
}
